.bio-card h2 a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: baseline;
}

@media screen and (max-width: 768px) {
    .bio-card h2 a {
        flex-direction: column;
        align-items: flex-start;
        gap: 0em;
    }
}

.bio-title a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#rotating-text {
    font-weight: 100 !important;
    opacity: 0.9;
    font-family: "Alegreya", serif;
    font-style: italic;
}

.rotating-text::after {
    content: ".";
}

.profile-image{
    max-height: 1200px;
}