main {
    padding: 1rem;
    margin: 0 auto;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: .5rem;
    width: 100%;
    text-align: left;
}

.projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.project-title {
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--gray-light);
    margin-top: .5rem;
}

.project-card {
    background: var(--gray-light);
    overflow: hidden;
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
}

.project-card:hover {
    transform: translateY(-5px);
}

.project-thumbnail {
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
}

.project-content {
    padding: 0.5rem 0rem;
}

.year {
    background: var(--accent);
    color: grey;
    font-size: 1.2rem;
    margin-left: -0.2em;
}

.project-card h2 a {
    color: var(--accent);
    text-decoration: none;
    transition: color 0.3s ease;
}

.project-card h2 a:hover {
    color: var(--accent-dark);
}

.project-meta {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    font-size: 0.9rem;
}

.description,
.category {
    font-size: .8rem;
    margin-bottom: 1rem;
    color: #333;
    background: none;
}

.description {
    opacity: 0;
    transition: opacity 0.3s ease;
}


.project-card:hover .description {
    opacity: .6;
}

.extra-description {
    font-style: italic;
    color: var(--gray-dark);
    margin-bottom: 1rem;
}

.credit {
    font-size: 0.9rem;
    color: var(--gray-dark);
    margin-bottom: 1rem;
}

.project-actions {
    margin-top: 1.5rem;
}

.view-project-btn {
    display: inline-block;
    background: var(--accent);
    text-decoration: none;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.view-project-btn:hover {
    background: var(--accent-dark);
}