<footer>
  <div>
    <h1 class="big-title">
      &copy; {new Date().getFullYear()} Iley Cao.
    </h1>
  </div>
  <div>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/projects">Work</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </div>
  <div>
    <ul>
      <li><a href="mailto:iley.cao@gmail.com">Email</a></li>
      <li><a href="https://www.linkedin.com/in/iley-cao/">Linkedin</a></li>
      <li><a href="https://www.instagram.com/iley.c/">Instagram</a></li>
    </ul>
  </div>
</footer>
