---
import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";
import BioCard from "../components/BioCard.astro";
---

<header>
  <BioCard />
  <nav>
    <a href="https://www.linkedin.com/in/iley-cao/">Linkedin</a>
    <a href="https://www.instagram.com/iley.c/">Instagram</a>
  </nav>
</header>
