---
import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";
import BioCard from "../components/BioCard.astro";
---

<header id="site-navigation">
  <BioCard />
  <nav>
    <a href="/projects">Projects</a>
    <a href="/about">About</a>
  </nav>
</header>
